<div class="header bg-gradient-danger pb-3 pt-5 pt-md-8"></div>
<br>
<div class="search-box">
    <input type="search" placeholder="Escriba La Palabra"  #termino />
    <button type="button" class="search-btn"><i class="fa fa-search" (click)="combinacion(termino.value)"></i></button>
</div>

<div class="alert alert-primary text-center mt-2" role="alert" *ngIf="coincidencias != 0" >
  Se encontraron {{coincidencias}}
</div>


<table>
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of arregloMostrar | paginate:{itemsPerPage:15,currentPage:pageActual} " >
      <td data-column="Nombre" class="text-center">{{cat | limpiarArrary}}</td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="pageActual = $event" responsive="true" previousLabel="Atrás" nextLabel="Siguiente" *ngIf="arregloMostrar.length != 0"></pagination-controls>
</div>


